@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --main-color: #cd5c5c;
    --secundary-color: #d9d9d9;
    --bc-color: #0e0e0e;
    --font: 'Poppins', sans-serif;
}

html, body {
    background-image: url('Background.png');
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    margin: 0;
    font-family: var(--font);
}

/*menu*/

.menu-item {
    color: #fffcf8;
    text-decoration: none;
}


#logo-image {
    width: 50%;
}

#header {
    z-index: 1000;
    box-sizing: border-box;
    height: 100px;
    padding: 15px 50px 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bc-color);
}

#menu {
    display: flex;
    list-style: none;
    gap: 10px;
}

#menu .home-menu-item {
  color: var(--secundary-color);
}

#menu a {
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 15px;
    color: var(--secundary-color);
    text-decoration: none;
    border-radius: 10px;
}

#menu a:hover {
    color: var(--main-color);
    transition: .4s ease;
}

#menu .menu-item::after {    
    content: "";
    background: none repeat scroll 0 0 transparent;
    display: block;
    height: 2px;
    margin-top: 10px;
    left: 50%;
    background: currentColor;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    border-radius: 200px;
}

#menu .menu-item:hover::after { 
    width: 100%; 
    left: 0;
  }
  
#btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    #header {
      padding: 0 10px 0 10px;
      background: var(--bc-color);
    }

    #logo-image {
        width: 70px;
    }    
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 85px;
        right: 0px;
        background: var(--bc-color);
        border-radius: 5px;
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 30vh);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 25px 0;
        font-size: 20px;
        margin: 0 20px;
        border-bottom: 2px solid rgba(46, 46, 46, 0.1);
        border-radius: 5px;
    }
    #btn-mobile {
        color: var(--secundary-color);
        display: flex;
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        background: none;
        cursor: pointer;
        gap: 10px;
    }
    #hamburguer {
        color: var(--main-color);
        display: block;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        content: '';
        position: relative;
        display: block;
        width: 20px;
        height: 2px;
        border-radius: 10px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    #menu a:hover::after { 
        width: 28%; 
        left: 0;
      }    
}

li {
    list-style: none;
}

#social-icon-top {
    margin-left: 350px;
    display: flex;
}

@media (max-width: 600px) {
    #social-icon-top {
        display: none;
    }
}

.linkedinIcon:hover path, .githubIcon:hover path, .emailIcon:hover path {
    fill: var(--main-color);
    transition: .3s ease;
}
/*end menu*/

/* first section */

.apresentation {
    display: block;
}

.apresentation-text-left {
    float: left;
    padding: 50px 30px 30px 150px;
}

.apresentation-text-left > h1, p {
    color: var(--secundary-color);
    font: bold 75px 'Poppins', sans-serif;
    line-height: 150px;
}
    
      .apresentation-title, .middle-text, .little-text {
        width: 500px;
        overflow: hidden;
        animation: typing 2s steps(40), blink .6s step-end infinite alternate;
        border-right: 3px solid var(--secundary-color);
    }
    
      @keyframes typing {
          from {
              width: 0;
          }
      }
      @keyframes blink {
          50% {
              border-color: transparent;
          }
      }
      

    .apresentation-text-left p {
        white-space: nowrap;
        color: var(--secundary-color);
        font: bold 70px 'Poppins', sans-serif;
        margin-top: -70px;
    }

p.little-text {
    font: bold 30px 'Poppins' , sans-serif;
    color: var(--main-color)
}

p.middle-text {
    margin-top: -100px;
}

.apresentation-image-right {
    margin: 80px 50px 20px 20px;
    float: right;
    width: 40%;
}

.profile-image {
    width: 65%;
    outline: 7px outset #cd5c5c;
    padding: 7px;
    border-radius: 50%;
}

@media (max-width: 600px) {
    .apresentation-text-left {
        font-size: 22px;
        width: auto;
        float: none;
        padding: auto;
        position: absolute;
        bottom: 90px;
        right: 20px;
    }
    .apresentation-title, .middle-text, .little-text {
        width: auto;
        animation: none;
        border-right: none;
        overflow: visible;
    }
    .apresentation-text-left > h1 {
        color: var(--secundary-color);
        font: bold 45px 'Poppins', sans-serif;
        line-height: 20px;
    }
    .apresentation-text-left p {
        color: var(--main-color);
        font: bold 25px 'Poppins', sans-serif;
        line-height: 1px;
        margin-top: -10px;
        width: 300px;
    }
    .apresentation-image-right {
        margin: 0 70px;
        float: none;
        width: 80%;
        position: absolute;
        top: 160px;
    }
    p.middle-text {
        font-size: 40px;
        line-height: 30px;
    }
}

/* about me section */

.about-me {
    color: var(--secundary-color);
    padding: 70px;
    margin: 450px 150px auto 150px;
}

.about-me-title {
    font-size: 40px;
    text-align: center;
    color: var(--main-color);
}

.about-me-text {
    font: normal 20px var(--font);
}

@media (max-width: 600px) {
    .about-me {
        margin: 600px auto 5px auto;
    }
}

/* skills section */

.skills {
    color: var(--secundary-color);
    padding: 10px 70px 30px 70px;
}

@media (max-width: 600px) {
    .skills {
        padding: 10px 70px 30px 40px;
    }
}

.skills-title {
    font-size: 45px;
    text-align: center;
    color: var(--main-color);
}


/* skills left and right */

.skills {
    text-align: center;
}

.skill-text {
    font: normal 22px var(--font);
}


.skill1, .skill2, .skill3, .skill4 {
    display: inline-flex;
    width: 300px;
    height: 60px;
    padding: 20px;
    background: #1A1A1A;
    margin-bottom: 15px;
    border-radius: 10px;
}

.skill1:hover , .skill2:hover , .skill3:hover , .skill4:hover {
    background-color: #202020;
    transition: .4s ease;
}


/* projects section */

.projects {
    margin-top: 150px;
    margin-bottom: 555px;
}

.projects-title {
    font-size: 50px;
    text-align: center;
    color: var(--main-color);
}

.project1-image {
    float: left;
    width: 50%;
}

.project1-text {
    float: right;
    width: 50%;
    color: var(--secundary-color);
}

.text-project1 {
    line-height: 40px;
}

.project1-text > h3 {
    font-size: 35px;
}
.project1-text > p {
    font-size: 22px;
}

#project-nordician {
    width: 90%;
    padding-left: 55px;
}

@media (max-width: 600px) {
    .projects {
        margin-top: 100px;
        margin-bottom: 80px;
    }

    .project1-image {
        float: none;
        width: auto;
    }
    .project1-text {
        float: none;
        width: auto;
        padding: 20px;
    }

    .project1-text > h3 {
        text-align: center;
    }

    #project-nordician {
        width: 75%;
    }
}

/*contact section */

.contact {
    margin: auto 100px 90px 450px;
    width: 300px;
}

.contact-title {
    margin-left: 90px;
    text-align: center;
    font-size: 45px;
    color: var(--main-color);
}

form {
    width: 100%;
    background: #1a1a1a;
    color: var(--secundary-color);
    font-weight: bold;
    padding: 20px 60px 10px 30px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;

}

input, textarea {
    margin: 3px auto 20px auto;
    width: 320px;
    height: 35px;
    background: #343434;
    border: none;
    border-radius: 5px;
    padding: 4px 4px 4px 10px;
    color: var(--secundary-color);
    font: 500 16px 'Poppins', sans-serif;
}

textarea {
    height: 45px;
    padding: 10px;
}

::placeholder {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    word-spacing: normal;
}

#contact-btn {
    border: none;
    border-radius: 5px;
    width: 340px;
    height: 50px;
    background: var(--main-color);
    font: bold 16px 'Poppins', sans-serif;
    color: var(--bc-color);
    cursor: pointer;
    margin-bottom: 35px;
}

#contact-btn:hover {
    filter: brightness(80%);
}

@media (max-width: 600px) {
    .contact {
        padding: 0;
        margin: auto auto 90px auto;
        width: auto;
    }
    .contact-title {
        margin-left: -10px;
    }
    #contact-btn {
        height: 50px;
    }
    form {
        width: 80%;
        margin-left: 15px;
        padding: 25px 25px 10px 30px;
    }
}

/* footer */

#footer {
    display: flex;
    border-top: 3px solid var(--main-color);
    background-color: var(--bc-color);
    align-items: center;
    justify-content: center;
  }
  
  .copyright {
    padding: 25px;
    text-align: center;
    font: normal 18px 'Poppins', sans-serif;
    color: var(--secundary-color);
  }

  ::-webkit-scrollbar {
      width: 17px;
      background: #000;
  }

  ::-webkit-scrollbar-track {
      border-radius: 30px;
      background: var(--bc-color);
  }

  ::-webkit-scrollbar-thumb {
      background: var(--main-color);
      border-radius: 30px;
  }

  .back-to-top {
      position: relative;
      overflow: 2000;
      left: 900px;
      background-size: cover;
      scroll-behavior: smooth;
      height: max-content;
      width: 60px;
      height: 60px;
      border: none;
      border-radius: 200px;
      cursor: pointer;
  }

  @media (max-width: 600px) {
      .back-to-top {
          display: none;
      }
  }