@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --main-color: #cd5c5c;
    --secundary-color: #d9d9d9;
    --bc-color: #0e0e0e;
    --font: 'Poppins', sans-serif;
}

html, body {
    background-image: url('images/background.png');
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
    margin: 0;
    font-family: var(--font);
}

::selection {
    background: var(--main-color);
    color: #131313;
}

/*menu*/

.menu-item {
    color: #fffcf8;
    text-decoration: none;
}


#logo-image {
    width: 50%;
}

#header {
    z-index: 1000;
    box-sizing: border-box;
    height: 100px;
    padding: 15px 50px 15px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bc-color);
}

#menu {
    display: flex;
    list-style: none;
    gap: 10px;
}

#menu .home-menu-item {
  color: var(--secundary-color);
}

#menu a {
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    font-size: 1em;
    font-weight: bold;
    display: block;
    padding: 15px;
    color: var(--secundary-color);
    text-decoration: none;
    border-radius: 10px;
}

#menu a:hover {
    color: var(--main-color);
    transition: .4s ease;
}

#menu .menu-item::after {    
    content: "";
    background: none repeat scroll 0 0 transparent;
    display: block;
    height: 2px;
    margin-top: 10px;
    left: 50%;
    background: currentColor;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    border-radius: 200px;
}

#menu .menu-item:hover::after { 
    width: 100%; 
    left: 0;
  }
  
#btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    #header {
      padding: 0 10px 0 10px;
      background: var(--bc-color);
    }

    #logo-image {
        width: 70px;
    }    
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 85px;
        right: 0px;
        background: var(--bc-color);
        border-radius: 5px;
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 30vh);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 25px 0;
        font-size: 1em;
        margin: 0 20px;
        border-bottom: 2px solid rgba(54, 54, 54, 0.1);
        border-radius: 5px;
    }
    #btn-mobile {
        color: var(--secundary-color);
        display: flex;
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        background: none;
        cursor: pointer;
        gap: 10px;
    }
    #hamburguer {
        color: var(--main-color);
        display: block;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        content: '';
        position: relative;
        display: block;
        width: 20px;
        height: 2px;
        border-radius: 10px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    #menu a:hover::after { 
        width: 28%; 
        left: 0;
      }    
}

li {
    list-style: none;
}

#social-icon-top {
    margin-left: 350px;
    display: flex;
}

@media (max-width: 600px) {
    #social-icon-top {
        display: none;
    }
}

.linkedinIcon path, .githubIcon path, .emailIcon path {
    transition: .3s;
}

.linkedinIcon:hover path, .githubIcon:hover path, .emailIcon:hover path {
    fill: var(--main-color);
    transform: rotate(5deg);
}
/*end menu*/

/* first section */

.apresentation {
    display: block;
}

.apresentation-text-left {
    float: left;
    padding: 50px 30px 30px 150px;
}

.apresentation-text-left > h1, p {
    color: var(--secundary-color);
    font: bold 75px 'Poppins', sans-serif;
    line-height: 150px;
}
    
      .apresentation-title, .middle-text, .little-text {
        width: 500px;
        overflow: hidden;
        animation: typing 3s steps(55), blink .6s step-end infinite alternate;
        border-right: 3px solid var(--secundary-color);
    }
    
      @keyframes typing {
          from {
              width: 0;
          }
      }
      @keyframes blink {
          50% {
              border-color: transparent;
          }
      }
      

    .apresentation-text-left p {
        white-space: nowrap;
        color: var(--secundary-color);
        font: bold 70px 'Poppins', sans-serif;
        margin-top: -70px;
    }

p.little-text {
    font: bold 30px 'Poppins' , sans-serif;
    background: -webkit-linear-gradient(180deg,#cd5c5c, #c73939);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p.middle-text {
    margin-top: -100px;
}

.apresentation-image-right {
    margin: 80px 10px 20px 20px;
    float: right;
    width: 40%;
}

.profile-image {
    width: 65%;
    outline: 7px outset #cd5c5c;
    padding: 7px;
    border-radius: 50%;
    transition: .4s;
}

.profile-image:hover {
    transform: rotate(5deg);
}

@media (max-width: 600px) {
    .apresentation-text-left {
        font-size: 22px;
        width: auto;
        float: none;
        padding: auto;
        position: absolute;
        bottom: 140px;
        right: 20px;
    }
    .apresentation-title, .middle-text, .little-text {
        width: auto;
        animation: none;
        border-right: none;
        overflow: visible;
    }
    .apresentation-text-left > h1 {
        color: var(--secundary-color);
        font: bold 45px 'Poppins', sans-serif;
        line-height: 20px;
    }
    .apresentation-text-left p {
        color: var(--main-color);
        font: bold 25px 'Poppins', sans-serif;
        line-height: 1px;
        margin-top: -10px;
        width: 300px;
    }
    .apresentation-image-right {
        margin: 0 70px;
        float: none;
        width: 80%;
        position: absolute;
        top: 160px;
    }
    p.middle-text {
        font-size: 40px;
        line-height: 30px;
    }
}

/* about me section */

.about-me {
    color: var(--secundary-color);
    padding: 70px;
    margin: 450px 150px auto 150px;
}

.about-me-title {
    font-size: 40px;
    text-align: center;
    color: var(--main-color);
}

.about-me-text {
    font: normal 20px var(--font);
}

@media (max-width: 600px) {
    .about-me {
        margin: 600px auto 5px auto;
    }
}

/* skills section */

.skills {
    color: var(--secundary-color);
    padding: 10px 70px 30px 70px;
}

@media (max-width: 600px) {
    .skills {
        padding: 10px 70px 30px 40px;
    }
}

.skills-title {
    font-size: 45px;
    text-align: center;
    color: var(--main-color);
}


/* skills left and right */

.skills {
    text-align: center;
}

.skill-text {
    font: normal 22px var(--font);
    cursor: default;
}


.skill1, .skill2, .skill3, .skill4 {
    display: inline-flex;
    align-items: center;
    width: 300px;
    height: 60px;
    padding: 20px;
    background: #1A1A1A;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: .3s ease;
}

.skill1:hover , .skill2:hover , .skill3:hover , .skill4:hover {
    background-color: #202020;
}


/* projects section */

.projects {
    margin-top: 150px;
    margin-bottom: 50px;
}

.projects-title {
    font-size: 50px;
    text-align: center;
    color: var(--main-color);
}

.project1-block {
    height: 400px;
    padding: 0px 50px;
}

.project1-image {
    float: left;
    width: 50%;
}

.project1-text {
    float: right;
    width: 50%;
    color: var(--secundary-color);
}

.text-project1 {
    line-height: 40px;
}

.project1-text > h3 {
    font-size: 35px;
    color: #ffa3a3;
}
.project1-text > p {
    font-size: 22px;
}

#project-nordician {
    width: 90%;
    padding-left: 55px;
    transition: .4s;
}

@media (max-width: 600px) {
    .projects {
        margin-top: 100px;
        margin-bottom: 80px;
    }

    .project1-image {
        float: none;
        width: auto;
    }
    .project1-text {
        float: none;
        width: auto;
        padding: 20px;
    }

    .project1-text > h3 {
        text-align: center;
    }

    #project-nordician {
        width: 75%;
    }
}

.project2-block {
    margin-top: 80px;
    height: 400px;
    padding: 0px 50px;
}

.project2-image {
    float: right;
    width: 50%;
}

.project2-text {
    float: left;
    width: 50%;
    color: var(--secundary-color);
}

.text-project2 {
    line-height: 40px;
}

.project2-text > h3 {
    font-size: 35px;
    text-align: right;
    color: #ffefae;
}
.project2-text > p {
    text-align: right;
    font-size: 22px;
}

#project-dangernet {
    width: 90%;
    padding-left: 55px;
    transition: .4s;
}

@media (max-width: 600px) {
    .project2-block {
        margin-top: 400px;
        margin-bottom: 200px;
    }    
    .project2-image {
        float: none;
        width: auto;
    }
    .project2-text {
        float: none;
        width: auto;
        padding: 20px;
    }

    .project2-text > h3 {
        text-align: center;
    }

    #project-dangernet {
        width: 75%;
    }
}

.project3-block {
    height: 400px;
    padding: 0px 50px;
}

.project3-image {
    float: left;
    width: 50%;
}

.project3-text {
    float: right;
    width: 50%;
    color: var(--secundary-color);
}

.text-project3 {
    line-height: 40px;
}

.project3-text > h3 {
    font-size: 35px;
    color: #64d3b5;
}
.project3-text > p {
    font-size: 22px;
}

#project-calculator {
    width: 90%;
    padding-left: 55px;
    transition: .4s;
}

@media (max-width: 600px) {
    .project3-block {
        margin-bottom: 50px;
    }    
    .project3-image {
        float: none;
        width: auto;
    }
    .project3-text {
        float: none;
        width: auto;
        padding: 20px;
    }

    .project3-text > h3 {
        text-align: center;
    }

    #project-calculator {
        width: 75%;
    }
}

.project4-block {
    height: 400px;
    padding: 0px 50px;
}

.project4-image {
    float: right;
    width: 50%;
}

.project4-text {
    float: left;
    width: 50%;
    color: var(--secundary-color);
}

.text-project4 {
    line-height: 40px;
}

.project4-text > h3 {
    font-size: 35px;
    text-align: right;
    color: #226975;
}
.project4-text > p {
    font-size: 22px;
    text-align: right;
}

#project-roadtek {
    width: 90%;
    padding-left: 55px;
    transition: .4s;
}

@media (max-width: 600px) {
    .project4-block {
        margin-top: 150px;
        margin-bottom: 50px;
    }    
    .project4-image {
        float: none;
        width: auto;
    }
    .project4-text {
        float: none;
        width: auto;
        padding: 20px;
    }

    .project4-text > h3 {
        text-align: center;
    }

    #project-roadtek {
        width: 75%;
    }
}

#project-nordician:hover, #project-dangernet:hover, #project-calculator:hover, #project-roadtek:hover {
    transform: scaleY(1.1);
}

.project1-block a, .project2-block a ,.project3-block a, .project4-block a {
    text-decoration: none;
}

.span-project {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    font: bold 2em var(--font);
    color: var(--main-color);
}

.span-project:after {
    content: url(icons/warning.png);
}

/*contact section */

#contact {
    margin-bottom: 80px;
    padding: 30px;
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    #contact {
        margin-top: 20px;
    }
}

.contact-form {
    max-width: 800px;
    width: 100%;
}

.contact-title {
    text-align: center;
    font-size: 3em;
    color: var(--main-color);
}

form {
    display: flex;
    flex-direction: column;
    color: var(--secundary-color);
}

label:nth-child(3), label:nth-child(5), label:nth-child(1) {
    font-size: 1.4em;
    color: rgb(255, 255, 255);
   }


.field {
    margin: 5px 0 20px 0;
    background: linear-gradient(120deg, #343434, #272727);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: var(--secundary-color);
    font: 500 1.3em 'Poppins', sans-serif;
    box-shadow: 15px 16px 56px -13px rgba(0,0,0,0.49);
    -webkit-box-shadow: 15px 16px 56px -13px rgba(0,0,0,0.49);
    -moz-box-shadow: 15px 16px 56px -13px rgba(0,0,0,0.49);
}

.field:focus {
    outline: 2px solid var(--main-color);
}

.span-form {
    color: var(--main-color);
}

::placeholder {
    font: normal .9em 'Poppins', sans-serif;
}

#contact-btn {
    margin-top: 15px;
    padding: 20px 15px;
    border: none;
    border-radius: 4px;
    background: var(--main-color);
    font: bold 1.1em 'Poppins', sans-serif;
    color: var(--bc-color);
    cursor: pointer;
    transition-duration: .3s;
}

#contact-btn:hover {
    filter: brightness(70%);
}

#contact-btn:focus {
    transform: translateY(5px);
}

/* footer */

#footer {
    display: flex;
    border-top: 3px solid var(--main-color);
    background-color: var(--bc-color);
    align-items: center;
    justify-content: center;
  }
  
  .copyright {
    padding: 25px;
    text-align: center;
    font: normal 18px 'Poppins', sans-serif;
    color: var(--secundary-color);
  }

  ::-webkit-scrollbar {
      width: 14px;
      background: #000;
  }

  ::-webkit-scrollbar-track {
      border-radius: 30px;
      background: rgb(37, 37, 37);
  }

  ::-webkit-scrollbar-thumb {
      background: rgb(105, 105, 105);
      border-radius: 30px;
  }
  ::-webkit-scrollbar-thumb:active {
    background: var(--main-color);
    }


  #myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 10px; 
    z-index: 999;
    width: 65px;
    background: var(--bc-color);
    border: none; 
    outline: none; 
    cursor: pointer; 
    border-radius: 200px;
    opacity: 100%;
    transition: opacity .5s;
  }

  #myBtn:hover {
    opacity: 60%;
  }

  /* thanks page */

  .thanks-section {
      color: var(--secundary-color);
      text-align: center;
      margin: 110px auto 20px auto;
  }

  @media (max-width:600px) {
      .thanks-section {
          margin: 40px auto 10px auto;
      }
  }

  .thanks-title {
      font-size: 40px;
      margin: 30px auto 20px auto;
  }

  .thanks-text {
      margin: 0;
      font-size: 18px;
    }

  .thanks-btn {
      font: inherit;
      font-weight: bold;
      background: linear-gradient(180deg,#cd5c5c, #3f3f);
      color: var(--bc-color);
      text-align: center;
      margin: 20px;
      width: 20%;
      padding: 15px;
      border: none;
      border-radius: 10px;
      outline: none;
      cursor: pointer;
      transition: .4s;
  }

  @media (max-width: 600px) {
      .thanks-btn {
          width: 60%;
      }
  }

  .thanks-btn:hover {
      filter: brightness(60%);
    }

  .thanks-icon {
    animation: flash 3s infinite cubic-bezier(.8,2,1,1);  
  }
  @keyframes flash {
    50% {
      opacity: 50%;
    }
  }